<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Hoang Bao Résume | Marketing | Branding</title>
		<meta name="description" content="Hoang Bao's CV / Resume for a Marketing - Branding position!" />
		<meta name="keywords" content="Hoang Bao, digital marketing, cv marketing, marketing manager, digital marketing, imc, facebook ads, google ads" />
		<meta name="author" content="Hoang Bao"/>
		
		<!--Open Graph-->
		<meta property="og:title" content="Hoang Bao | Marketing & Branding"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="https://cv.hoangbao.org/"/>
		<meta property="og:image" content="https://cv.hoangbao.org/img/ogp.webp"/>
		<meta property="og:site_name" content="Brian Tran Resume"/>
		<meta property="og:description" content="Here is my CV / Resume for a Marketing - Branding position!"/>
		<!--/Open Graph-->
		
		<!--Favicon-->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		
		<!--Fonts - changed to Source Code Pro-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		
		<!--Anticopy-->
		<style>
				body{
					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					-o-user-select: none;
					user-select: none;
					}
		</style>
		<script type="text/JavaScript">
				function killCopy(e){
				return false
				}
				function reEnable(){
				return true
				}
				document.onselectstart=new Function ("return false")
				if (window.sidebar){
				document.onmousedown=killCopy
				document.onclick=reEnable
				}
				</script>
		<!--/Anticopy-->		

	</head>
	
	<body class="preloading" id="body" data-ng-app="contactApp">
	
	<!--Preloader-->
	<div id="preload" class="preload-container text-center">
        <span class="fa fa-refresh fa-spin preload-icon"></span>
    </div>
	<!--/Preloader-->
	
	<!--Anti Right Click -->
	<div onselectstart="return false" oncontextmenu="return false">
	
	<!--Fixed Bg Image-->
		<div class="fixed-bg"></div>
		<div class="fixed-bg-overlay"></div>
	<!--/Fixed Bg Image-->
				
	<!--Preloader--D>
		<div id="pre_load" class="preloader-it">
			<div id="la_anim" class="la-anim-1"></div>
		</div>
	<!--/Preloader-->
				
		<!--Container-->
		<div class="container-fluid">
			<div class="row">
				<div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">
					
					<!--Navigation-->
					<nav class="navbar navbar-default vertical-nav" role="navigation">
						<div class="navbar-header">
						  <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" 
							 data-target="#navbar_collapse">
							 <span class="mask"></span>
							 <span class="btn-label">
								<span class="pe-7s-menu"></span>
							 </span>
						  </button>
						</div>
						<div class="collapse navbar-collapse" id="navbar_collapse">
							<ul class="nav navbar-nav">
								<li><a data-scroll href="#body"></a><span>about</span></li>
								<li><a data-scroll href="#services_sec"></a><span>service</span></li>
								<li><a data-scroll href="#skill_sec"></a><span>skills</span></li>
								<li><a data-scroll href="#exp_sec"></a><span>experience</span></li>
								<!--<li><a data-scroll href="#work_sec"></a><span>work</span></li>-->
								<li><a data-scroll href="#edu_sec"></a><span>background</span></li>
								<li><a data-scroll href="#client_sec"></a><span>clients</span></li>
								<!--<li><a data-scroll href="#achivement_sec"></a><span>achivements</span></li>-->
								<li><a data-scroll href="#contact_sec"></a><span>contact</span></li>
							</ul>
						</div>
					</nav>
					<!--/Navigation-->
					
				</div>
				
				<div class="col-lg-8 col-xs-12 pad-zero">
					
					<!--Header-->
					<header>
						<div class="header-wrap col-lg-10 center-div">
							<div class="float-left name">
								<a data-scroll href="#body">
									<span>
										TRAN NGUYEN HOANG BAO | MARKETING & BRANDING
									</span>
								</a>	
							</div>	
							
							<!--DOWNLOAD RESUME--D>
							<div class="float-right social-download-wrap">
								<a href="http://go.hoangbao.org/CV" class="btn btn-default float-left">
									<span class="mask"></span>
									<span class="btn-label">
										<b>download resume</b>
										<span class="icon pe-7s-download"></span>
									</span>
								</a>
							</div>	
							<!--/Download Resume-->
						</div>
						<div class="clearfix"></div>
					</header>
					<!--/Header-->

					
					<!--Main Content-->
					<div id="main_content" class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50">
					
						<!--Introduction Sec-->
						<section id="intro_content_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad">
							<div class="person-img margin-bottom-xs"></div>
							<h1>
								Hello!<span id="typed"></span>
							</h1>
							<h6>
								about
							</h6>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								My full name is Tran Nguyen Hoang Bao. I'm a young marketer who has 2.5 years of working professionally in both client and agency sides. My goal in the next 3 years is to constantly learn and develop myself in the planning and brand management fields.
							</p>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								As a complete social animal, you could find some of my thoughts on <a href="https://www.facebook.com/BrianTranDMO" class="goto-social" target="_blank">facebook</a>.

							</p>
							<div class="per-signature margin-top-sm wow fadeInUp" data-wow-duration=".4s">
								<img class="img-responsive lazyload" data-src="img/signature.webp" alt="signature"/>
							</div>
						</section>
						<!--/Introduction Sec-->						
						<hr class="separater-hr"/>
						<!--WhatWeDo Sec-->
						<section id="services_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>what i do</h6>
							<div class="row">
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay="0s">
									<span class="icon pe-7s-culture"></span>
									<span class="key-fact">
										BRANDING
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".1s">
									<span class="icon pe-7s-map"></span>
									<span class="key-fact">
										PROJECT MANAGEMENT
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".2s">
									<span class=" icon pe-7s-graph1"></span>
									<span class="key-fact">
										MARCOM	
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".3s">
									<span class="icon pe-7s-display1"></span>
									<span class="key-fact">
										PLANNING
									</span>
								</div>
							</div>	
						</section>
						<!--/WhatWeDo Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Skills Sec-->
						<section id="skill_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>marketing skills</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">In my opinion, the final destination of marketing is also be understood as the goal of client's business - such as sales, market share, growth (since after all, it's all about benefit, not cost in the end). Therefore, I start every project by "interviewing" clients to understand their business model and the hidden messages in their founding stories. Thus I could find the matching messages and proper communications channels with effective costs based on those gut information. </p>
							<div class="row margin-top-40">
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">MARKETING PLANNING</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="95">
													<strong><i>90</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">BRAND MANAGEMENT</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="65">
													<strong><i>60</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">ONLINE ADVERTISING</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="90">
													<strong><i>85</i>%</strong>
												</span>	
											</div>
										</div>	
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">PROJECT MANAGEMENT</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="80">
													<strong><i>75</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">ACCOUNT MANAGEMENT</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="85">
													<strong><i>80</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">DATA ANALYSIS</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<div class="bar-wrap">
													<span data-width="75">
														<strong><i>70</i>%</strong>
													</span>
												</div>	
											</div>
										</div>	
									</div>
								</div>
								<div class="clearfix"></div>
							</div>	
						</section>
						<!--/Skills Sec-->
						
						<hr class="separater-hr"/>
						
						<!-- DISABLE Work Sec--*>
						<section id="work_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad">
							<h6>work</h6>
						
							<div id="portfolio-wrap" class="padding-sec-lg">
            					<ul id="portfolio" class="auto-construct  project-gallery" data-col="2">
									<li  class="item lazyload" data-src="img/mock1.webp" data-sub-html="<h6>SOCIAL MEDIA MANAGEMENT</h6><p>Over 70% of marketers still use content marketing, and 80% said it was effective tool. I agree with this view, however I improve it by using Social Listening in real time report. I also use Social Media as a channel to transmit the brand's Big Idea to support communication plan.</p>" >
										<a href="">
										<img class="img-responsive lazyload" src="img/mock1.webp" class="lazyload" style="filter: grayscale(1) invert(1);" alt="Image description" />
										<span class="hover-cap">SOCIAL MEDIA MANAGEMENT</span>
										</a>
									</li>
									<li class="item lazyload" data-src="img/mock2.webp" data-sub-html="<h6>MULTI-CHANNELS FOR LOCALS COMPANY</h6><p>Using Search Engine is the focus to convert into leads. Get Social Media as a media channel to attract more customers. Combined with other factors (PR, booking, influencers, ...) to create the foundation for your brand. Efficiency - Convert - Measure is the key factor in using multichannel..</p>">
										<a href="">
										<img class="img-responsive lazyload" src="img/mock2.webp" style="filter: grayscale(1) invert(1);" alt="Image description" />
										<span class="hover-cap">MULTI-CHANNELS SETUP</span>
										</a>
									</li>
									<li class="item lazyload" data-src="img/mock3.webp" data-sub-html="<h6>CAMPAIGN MANAGEMENT IS AN ART</h6><p>The world moves from advertising to creative advertising. Customers switch from watching Tuoitre newspaper to watching Den Vau's music on Youtube and buying Tiki shortly after. All campaigns become an Art. I use Integrated Marketing Communications (IMC) with an in-depth customer insight mix with Performance Measurement KPIs in real-time. All for guaranteed: Optimal cost, One key message - Multi channels, measurable efficiency..</p>">
										<a href="">
										<img class="img-responsive lazyload" src="img/mock3.webp" style="filter: grayscale(0.7) invert(1);" alt="Image description" />
										<span class="hover-cap">CAMPAIGN MANAGEMENT</span>
										</a>
									</li>
									<li class="item lazyload" data-src="img/mock4.webp" data-sub-html="<h6>WHERE MARKETING ENDS, BRANDING BEGINS - Neil Patel</h6><p>Branding and Marketing is a Chicken and egg story. Marketing for a Brand is a process of Understanding -> Positioning -> Implementing -> Optimizing but Insightful. I started everything from Business to Marketing and finally Branding - which means that logically the KPIs also follow this route. So, is Branding responsible for the sales? 100% is yes!</p>">
										<a href="">
										<img class="img-responsive lazyload" src="img/mock4.webp" style="filter: grayscale(1) invert(1);" alt="Image description" />
										<span class="hover-cap">MARKETING TO BRANDING</span>
										</a>
									</li>
								</ul>
								<!-- Hidden video div
								<div style="display:none;" id="video1">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
										<source src="videos/video1.mp4" type="video/webm">
										<source src="videos/video1.webm" type="video/webm">
										 Your browser does not support HTML5 video. Please using Chrome for the best experience.
									</video>
								</div>
							</div>
						</section>
						<!--/Work Sec-->
											
						<hr class="separater-hr"/>
						
						<!--Experience Sec-->
						<section id="exp_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
							<h6>experience</h6>
							<div class="exp-timeline-wrap">
								<div class="row exp-timeline timeline-active">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>Jan 2020 - Present</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Planner | Junior Brand Strategist</span>
													<span class="job-loc">uForce Branding Agency | Da Nang</span>
													<p class="job-summary p-small">uForce is an agency that focusing on building strong brands from strategy to identity then spreading it by brand communication. I had the opportunity to evaluate business models and design brand strategies to leverage clients's businesses. As a planner, I also work on communications plans and brand marketing plans for SMEs and local NGOs projects.</p>
												</div>
											</div>	
										</div>
									</div>	
								</div>
								<div class="row exp-timeline timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>Sep 2019 - Mar 2020</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Marketing & Branding Consultant</span>
													<span class="job-loc">Trang Coffee & HongKong3 | Quang Nam</span>
													<p class="job-summary p-small">In this project, I had the opportunity to build from the original business model to branding implementation. With the initial positioning and clear financial plans, Trang Coffee is becoming the largest F&B chain in sale at Tam Ky city.</p>
												</div>
											</div>	
										</div>
									</div>	
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
												<div class="col-sm-3 duration"><span>Mar 2019 — Sep 2019</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Communications Specialist | Graphic Designer</span>
													<span class="job-loc">Target Global English Academy | The Philippines</span>
													<p class="job-summary p-small"> Responsible for the entire design of the company's media publications. Managed four main communication channels of the company (Website, Instagram, Facebook, Google SEO Maps). Facebook Rank reached 81 points. The growth rate of two social network channels in 60 days was 32% (Source: SMCC.vn).</p>
												</div>
											</div>	
										</div>
									</div>	
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.4s">
												<div class="col-sm-3 duration"><span>Sep 2018 – Mar 2019</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Marketing Manager</span>
													<span class="job-loc">Amomi Co.ltd | Danang City</span>
													<p class="job-summary p-small">Marketing & communications management for two brands in Da Nang: Xeo Restaurant Chain, R&B Tea Danang. My job was to manage an in-house Marketing team of 5 members in charge for R&D, Media, Digital Marketing. Responsible from product to media publications. Resonsible for sales and media channels, managed agencies and production houses for events and TVCs.</p>
												</div>
											</div>	
										</div>
									</div>	
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
												<div class="col-sm-3 duration"><span>Dec 2017 – Jul 2018</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Digital Marketing Specialist</span>
													<span class="job-loc">OCEAN English Center | Quang Nam</span>
													<p class="job-summary p-small"> I was in charge of building the brand identity and Brand Positioning for 2 branchs. Build a simple procedures for sales. My job included managing the contents on Facebook Page, etc. I also created and applied a simple, effective procedure in sales. As a result, OCEAN became top 1 English Center in Tam Ky city - Quang Nam based on number of students. </p>
												</div>
											</div>	
										</div>
									</div>	
								</div>
							</div>
						</section>	
						<!--/Experience Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Education Sec-->
						<section id="edu_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div education-wrap  sec-pad">
							<h6>backgrounds</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								In over 2.5 years of pursuing professional marketing, I have accumulated a lot of knowledge and experience in terms of Marketing - Branding. I think one should never stop learning and going through a process of acquiring knowledge.
							</p>
							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>1</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">Enrolling</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">University of the People, US MOOC</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Bachelor of Business Administration
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>2</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2019</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Google Partners Academy </span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Certification in: Google Analytics Individual | Search Ads 360  
										</span>
									</div>
								</div>
								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>3</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2018</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">SEMrush Academy</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Technical SEO Certification
										</span>
									</div>
								</div>
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>4</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2019</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">English Skills</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											IELTS Overall 5.5
										</span>
									</div>
								</div>
							</div>
						</section>	
						<!--/Education Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Client Sec-->
						<section id="client_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div client-wrap  sec-pad wow bounceIn" data-wow-duration=".4s">
							<h6>clients</h6>
							<div class="client-carousel">
								<img src="img/client1.png" alt="client">
								<img src="img/client2.png" alt="client">
								<img src="img/client3.png" alt="client">
								<img src="img/client4.png" alt="client">
								<img src="img/client5.png" alt="client">
								<img src="img/client6.png" alt="client">
								<img src="img/client7.png" alt="client">
								<img src="img/client8.png" alt="client">
							</div>
						</section>
						<!--/Client Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Achivement Sec
						<section id="achivement_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div achivement-wrap  sec-pad-top sec-pad-bottom-sm">
							<h6>achivements</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">Over 3 years of pursuing professional marketing, I have gained a lot of knowledge and experience in the field of Marketing - Branding. I think one should never stop learning and go through a process of acquiring knowledge.</p>
							<div class="achivement-list-wrap margin-top-40">
								<ul class="row">
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s">
											<span class="dash-pointer">-</span>
											<span class="achive-pts">First Price for Logo Design in Berman Design Award</span>
											</li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".2s"><span class="dash-pointer">-</span><span class="achive-pts">Honorable Mention at International Design Awards</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">AICB New York, USA</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">International CNDY Awards New York, USA</span></li>
										</ul>
									</li>
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s"><span class="dash-pointer">-</span><span class="achive-pts">Drix Club des Directeurs Artistiques Paris, France</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.2s"><span class="dash-pointer">-</span><span class="achive-pts">A&AD Awards (Yellow & Black Pencils) London, UK</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">Global Dffie Awards New York, USA</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">The Intercontinental Advertising Award (The Cup) (ICAA) Spain</span></li>
										</ul>
									</li>
								</ul>
							</div>	
						</section>
						<!--/Achivement Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Contact Sec-->
						<section id="contact_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad-top sec-pad-bottom-sm">
							<h6>contact</h6>
							<div data-ng-controller="ContactController" class="align-center wow fadeInUp" data-wow-duration=".4s">
								<h3>Hello <span  data-ng-bind="formData.inputName||'friend'"></span>, I'd love to hear from you.</h3>
								<div>
									<form action="https://formspree.io/xyyywrjn"
											method="POST"class="row form-horizontal" role="form">
										<div class="form-group input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi col-sm-12" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group col-sm-12">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
												<span class="mask"></span>
												<span>send message</span>
												</button>
											</div>
										</div>
									</form>
									<p data-ng-class="result">{{ resultMessage }}</p>
								</div>
							</div>
							
							<div class="email-direct">
								<p class="wow fadeInRight" data-wow-duration=".4s">
								<a href="https://www.messenger.com/t/BrianTranDMO">Too lazy to email? Just click <u>here</u> to chat with me via Messenger</a></p>
							</div>
						</section>
						<!--Contact Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Footer-->
						<footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
							<div class="row">
								<div class="col-sm-6 available-wrap">
									<span class="available-pointer"></span>
									<span class="available-tag">Available for new oppotunities.</span>
								</div>
								<div class="col-sm-6">
									<div class="social-icons-wrap float-right">
										<!--Social Icons-->
										<ul class="social-icons float-right">
											<li>
												<a href="https://www.facebook.com/BrianTranDMO" class="social-icon">
													<span class="fa" data-hover="&#xf09a;">&#xf09a;</span>
												</a>
											</li>
											<!--<li>
												<a href="#" class="social-icon">
													<span class="fa" data-hover="&#xf099;">&#xf099;</span>
												</a>
											</li>-->
											<li>
												<a href="https://hoangbao.org/" class="social-icon">
													<span class="fa" data-hover="&#xf16e;">&#xf16e;</span>
												</a>
											</li>
											<!--<li>
												<a href="#" class="social-icon">
													<span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
												</a>
											</li>-->
										</ul>
										<!--/Social Icons-->
									</div>
									<div class="goto-top text-right float-right">
										<a data-scroll href="#body">
											<span data-hover="top">
												top
											</span>
										</a>
									</div>
									<div class="copywrite-wrap text-right float-right">
										<p class="copywrite"> <b>Brian Tran &copy; 2020, all rights reserved. </b> custom w/ original Eric's theme</p>
									</div>
								</div>	
							</div>	
						</footer>
						<!--/Footer-->
						
					</div>	
					<!--/Main Content-->
					
				</div>
			</div>	
		</div>
		<!-- /Container -->
				
		<!-- Scripts -->
		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/smooth-scroll.js"></script>
		<script src="js/countTo.js"></script>
		<script src="js/jQuery.appear.js"></script>
		<script src="js/isotope.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/lightgallery-all.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/froogaloop2.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/init.js"></script>
		<script src="js/lazysizes.min.js" async></script>
		<script type="text/javascript">
		$(window).load(function() {
        $('body').removeClass('preloading');
        $('#preload').delay(1000).fadeOut('fast');
		});
		</script>
	</body>
</html>
